In [1]:
## all imports
from IPython.display import HTML
import numpy as np

import bs4 #this is beautiful soup
import time
import operator
import socket
import pickle
import re # regular expressions

from urllib.request import *
from pandas import Series
import pandas as pd
from pandas import DataFrame

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [2]:
data = pd.read_csv('companies.csv')

In [10]:
data.region.value_counts()

SF Bay Area           8336
New York City         3347
Boston                2217
London                2161
Los Angeles           1775
Seattle               1130
Washington, D.C.       988
Chicago                930
San Diego              841
Denver                 788
Austin                 769
Toronto                695
Tel Aviv               668
Atlanta                622
Paris                  619
Newark                 568
Dallas                 562
Beijing                560
Philadelphia           519
Berlin                 487
Anaheim                460
Singapore              420
Salt Lake City         419
Raleigh                384
Minneapolis            373
Bangalore              368
Hartford               354
Phoenix                342
Houston                336
Santiago               327
                      ...
SOM - Other              1
Monroe                   1
Trowbridge               1
Udupi                    1
Aurangabad               1
Holmes Chapel            1
South Grafton            1
Oviedo                   1
Albacete                 1
Zamudio                  1
Cirencester              1
Skien                    1
Marbella                 1
Vijayawada               1
Homburg                  1
Alcester                 1
Gilching                 1
Almeria                  1
Stanmore                 1
Tarragona                1
Uxbridge                 1
RWA - Other              1
Bushey                   1
Cheadle Hulme            1
Doha                     1
Harrow On The Hill       1
Pescara                  1
Enfield Lock             1
Maple Ridge              1
New Westminster          1
Name: region, dtype: int64

In [12]:
c = pd.DataFrame(data.region.value_counts())

In [13]:
c.set_index(

                    region
SF Bay Area           8336
New York City         3347
Boston                2217
London                2161
Los Angeles           1775
Seattle               1130
Washington, D.C.       988
Chicago                930
San Diego              841
Denver                 788
Austin                 769
Toronto                695
Tel Aviv               668
Atlanta                622
Paris                  619
Newark                 568
Dallas                 562
Beijing                560
Philadelphia           519
Berlin                 487
Anaheim                460
Singapore              420
Salt Lake City         419
Raleigh                384
Minneapolis            373
Bangalore              368
Hartford               354
Phoenix                342
Houston                336
Santiago               327
...                    ...
SOM - Other              1
Monroe                   1
Trowbridge               1
Udupi                    1
Aurangabad               1
Holmes Chapel            1
South Grafton            1
Oviedo                   1
Albacete                 1
Zamudio                  1
Cirencester              1
Skien                    1
Marbella                 1
Vijayawada               1
Homburg                  1
Alcester                 1
Gilching                 1
Almeria                  1
Stanmore                 1
Tarragona                1
Uxbridge                 1
RWA - Other              1
Bushey                   1
Cheadle Hulme            1
Doha                     1
Harrow On The Hill       1
Pescara                  1
Enfield Lock             1
Maple Ridge              1
New Westminster          1

[1088 rows x 1 columns]